<footer>
  <p>&copy; 2026 Manuel Jesús González <a href="https://github.com/MrPotato1698">Github</a></p>
  <p>Base de portfolio sacada de <a href="https://github.com/elstron">Stron - Jose Luis B. Leyva</a></p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    a {
      color: var(--primary-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: currentColor;
      }
    }
  }
</style>
