---
import Footer from '../components/Footer.astro';

import '@fontsource-variable/roboto-mono';
import '../styles.css';
interface Props {
  title: string;
  description: string;
  image?: string;
}
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content={image ?? '/profile.jpg'} />
  </head>
  <body>
    <main><slot /></main>
  </body>
  <Footer />
</html>
